body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.5;
    font-size: 18px;
    font-family: sans-serif;
}
.hero {
    background: url("../images/hero.jpg");
    background-size: cover;
    background-position: center center;
    height: 50%;
    position: relative;
}
.hero a {
    color: #ffffff;
    text-decoration: none;
}
.hero h1 {
    border-bottom: 1px dotted #ffffff;
    padding-bottom: 20px;
}
.hero h2 {
    margin: 0 auto;
}
#lasagna .hero {
    background: url("../images/lasagna.jpg");
    background-size: cover;
    background-position: center center;
}
#shrimp .hero {
    background: url("../images/shrimp.jpg");
    background-size: cover;
    background-position: center center;
}
#salad .hero {
    background: url("../images/salad.jpg");
    background-size: cover;
    background-position: center center;
}
.flex_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.overlay {
    position: absolute; 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    transition: .5s ease;
    opacity:.5;
    z-index: 2;
}
.page_title {
    color: #ffffff;
    z-index: 3;
}
.recipe_list {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin: 0;
    padding: 0;
}
.recipe_item {
    width: 300px;
    border: 1px solid #c2c2c2;
    border-radius: 10px;
}
section {
    padding: 40px;
}
.recipe_photo {
    width:100%;
    height:100px;
    object-fit: cover;
}
.recipe_name {
    display: block;
    text-align:center;
    margin: 20px auto;
    font-size: 24px;
    color: royalblue;
}
.row {
    display: flex;
    gap: 40px;
}
.quick_links {
    width: 33.3%;
}
.recipe_info {
    width: 66.6%;
}